<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Fait</th>
            <th>Fougue</th>
            <th>Rang</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recette of recettes">
            <td>{{ recette.name }}</td>
            <td>
                <input type="checkbox" [(ngModel)]="recette.fait" (ngModelChange)="updateRecette(recette)"/>
            </td>
            <td>
                <input type="checkbox" [(ngModel)]="recette.fougue" (ngModelChange)="updateRecette(recette)"/>
            </td>
            <td>{{ recette.rang }}</td>
        </tr>
    </tbody>
</table>
