<div class="container">
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Fait</th>
            <th>Fougue</th>
            <th>Rang</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recette of recettes">
            <td>{{ recette.name }}</td>
            <td>
                <input type="checkbox" [(ngModel)]="recette.fait" (ngModelChange)="handleChangeFait(recette, $event)"/>
            </td>
            <td>
                <input type="checkbox" [(ngModel)]="recette.fougue" (ngModelChange)="handleChangeFougue(recette, $event)"/>
            </td>
            <td>{{ recette.rang }}</td>
        </tr>
    </tbody>
</table>
   
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Qualité</th>
            <th>Quantité</th>
            <th>Possédé</th>
            <th>Quantité à Fougue</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let ingredientPack of ingredients; let packIndex = index">
            <ng-container *ngFor="let ingredient of ingredientPack.elements; let ingrIndex = index">
                <tr>
                    <td *ngIf="ingrIndex === 0" [attr.rowspan]="ingredientPack.elements.length" class="type-column">
                        {{ ingredientPack.type }}
                    </td>
                    <td>{{ ingredient.qualite }}</td>
                    <td>{{ ingredient.quantite }}</td>
                    <td>
                        <input type="number" 
                        [(ngModel)]="newPossedeValueList[4*packIndex+ingrIndex]" 
                        (ngModelChange)="handleChangePossede(ingredient, newPossedeValueList[4*packIndex+ingrIndex])" 
                        (focus)="onInputFocus(ingredient.possede, 4*packIndex+ingrIndex)" />
                    </td>
                    <td *ngIf="isAnIngredientToCreate(ingredient.qualite, ingredient.type)">
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <span>{{ingredient.quantiteAFougue}}</span>
                            <input 
                            type="range" 
                            min="0" 
                            max="{{calculeMaxQuantiteAFougue(ingredient.quantite, newPossedeValueList[4*packIndex+ingrIndex])}}" 
                            [(ngModel)]="getIngredientToCreate(ingredient.type, ingredient.qualite).quantiteAFougue"
                            [ngModelOptions]="{updateOn: 'change'}"
                            (ngModelChange)="handleChangeQuantiteAFougue(ingredient, getIngredientToCreate(ingredient.type, ingredient.qualite).quantiteAFougue ?? 0)"/>
                        </div>
                    </td>
                    <td *ngIf="!isAnIngredientToCreate(ingredient.qualite, ingredientPack.type)"></td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>
</div>
